<header class="header" data-stellar-background-ratio="0.5" id="home">
    <!-- COLOR OVER IMAGE -->
    <div class="overlay-layer">


        <!-- /END STICKY NAVIGATION -->

        <!-- CONTAINER -->
        <div class="container">

            <!-- ONLY LOGO ON HEADER -->
            <div class="only-logo">
                <div class="navbar">
                    <div class="navbar-header">
                        <img src="images/logo-2.png" alt="">
                    </div>
                </div>
            </div>

            <!-- /END ONLY LOGO ON HEADER -->
            <div class="row">
                <div class="col-md-12">

                    <!-- HEADING AND BUTTONS -->
                    <div class="intro-section">

                        <!-- WELCOM MESSAGE -->
                        <h1 class="intro white-text">互联网时代的供应链资源整合平台</h1>
                        <h5 class="white-text">简单、高效并且丰富！</h5>

                        <!-- BUTTON -->
                        <div class="button">
                            <a href="#section11" class="btn btn-primary standard-button inpage-scroll">加入我们</a>
                        </div>
                        <!-- /END BUTTON -->

                    </div>
                    <!-- /END HEADNING AND BUTTONS -->
                </div>
            </div>
        </div>
    </div>
</header>

<!-- =========================
     SECTION: CLIENTS LOGOs
    ============================== -->
<div class="row white-bg" id="stickUpBar" style="width:100%;z-index:1000;padding:0px;margin:0px;">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container">
            <div class="clients">
                <ul class="client-logos">
                    <li>
                        <a href="javascript:$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fa fa-angle-double-up fa-2x"></i></a>
                    </li>
                    <li class="menuItem">
                        <a href="#section1">服务介绍</a>
                    </li>
                    <li class="menuItem">
                        <a href="#section2">关于我们</a>
                    </li>
                    <li class="menuItem">
                        <a href="#section3">销售渠道</a>
                    </li>
                    <li class="menuItem">
                        <a href="#section4">供应链管理
                            </a>
                    </li>
                    <li class="menuItem">
                        <a href="#section7">仓储运营
                            </a>
                    </li>
                    <li class="menuItem">
                        <a href="#section8">运输管理
                            </a>
                    </li>
                    <li class="menuItem">
                        <a href="#section9">团队介绍
                            </a>
                    </li>
                    <li class="menuItem">
                        <a href="#section10">合作感言
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- =========================
     SECTION: SERVICES
    ============================== -->
<section class="services grey-bg" id="section1">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">

            <div class="small-text-medium uppercase colored-text">
                服务介绍
            </div>
            <h2 class="dark-text">我们提供<strong>供应链管理服务</strong></h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                无论你是<strong>服务提供方</strong>或<strong>服务需求方</strong>都能找到你所需要的，而且是适合你的内容
            </div>
        </div>

        <div class="row">

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: visible; -webkit-animation: fadeInLeft 1.75s;">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-basic-webpage-multiple"></span>
                    </div>
                    <h3 class="colored-text">简单方式</h3>
                    <p>
                        用简单的方式向您提供您所需要的，简单成为平台自始至终所追求的做事标准，不多不少只为适合您
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow flipInY animated" data-wow-offset="10" data-wow-duration="1s" style="visibility: visible; -webkit-animation: flipInY 1s;">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-ecommerce-graph3"></span>
                    </div>
                    <h3 class="colored-text">高效使用</h3>
                    <p>
                        一切面向用户，无论您是管理者，还是业务执行者，我们都能为您提供最适合您的内容
                    </p>
                </div>
            </div>

            <!-- SINGLE SERVICE -->
            <div class="col-md-4 wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: visible; -webkit-animation: fadeInRight 1.75s;">
                <div class="single-service border-bottom-hover">
                    <div class="service-icon colored-text">
                        <span class="icon-basic-geolocalize-05"></span>
                    </div>
                    <h3 class="colored-text">丰富内容</h3>
                    <p>
                        专注于为中国供应链市场提供丰富的资源接入服务，供应链即是价值链，我们提供平台所涉足行业内最有价值的服务.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- =========================
     SECTION: BRIEF LEFT
    ============================== -->
<section class="brief white-bg-border text-left" id="section2">
    <div class="container">
        <div class="row">

            <!-- BRIEF IMAGE -->
            <div class="col-md-6 pull-right wow fadeInLeft animated" data-wow-offset="20" data-wow-duration="1.75s" style="visibility: visible; -webkit-animation: fadeInLeft 1.75s;">
                <div class="brief-image-right">
                    <img src="images/about-us.jpg" alt="">
                </div>
            </div>

            <!-- BRIEF HEADING -->
            <div class="col-md-6 content-section pull-left wow fadeInRight animated" data-wow-offset="20" data-wow-duration="1.75s" style="visibility: visible; -webkit-animation: fadeInRight 1.75s;">
                <div class="small-text-medium uppercase colored-text">
                    关于
                </div>
                <h2 class="text-left dark-text"><strong>我们</strong>所专注的</h2>
                <div class="colored-line-left">
                </div>
                <p class="text-left">
                    在互联网高速发展的今天，我们专注于解决商业供求关系之间的供应链所存在问题，我们的团队在持续关注着中国供应链的发展，我们行走在供应链管理的前沿，享受着各种互联网工具所带来的便捷，却也始终在探索什么才是真正适合于供应链管理的工具，<strong>我们希望成为供应链管理领域内的标准制定者与实践者</strong>，并始终在为此做着不懈的努力
                </p>

                <!-- FEATURE LIST -->
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <ul class="feature-list text-left">
                            <li><span class="icon-lock-alt colored-text"></span> 我们关心您的生意</li>
                            <li><span class="icon-check-alt2 colored-text"></span> 提供最专业的互联网工具</li>
                            <li><span class="icon-paperclip colored-text"></span> 我们是细分行业之间的桥梁</li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <ul class="feature-list text-left">
                            <li><span class="icon-paperclip colored-text"></span> 我们提供专业的供应链咨询服务</li>
                            <li><span class="icon-adjust-vert colored-text"></span>
                                <s>我们提供落地服务</s>
                            </li>
                            <li><span class="icon-ribbon-alt colored-text"></span> 我们帮您打造您的价值链</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- =========================
     SECTION: BRIEF RIGHT
    ============================== -->
<section class="brief grey-bg text-left" id="section3">
    <div class="container">
        <div class="row">

            <!-- BRIEF IMAGE -->
            <div class="col-md-6 wow fadeInLeft animated" data-wow-offset="20" data-wow-duration="1.75s" style="visibility: visible; -webkit-animation: fadeInLeft 1.75s;">
                <div class="brief-image-left">
                    <img src="images/imac-ipad.png" alt="">
                </div>
            </div>

            <!-- BRIEF HEADING -->
            <div class="col-md-6 content-section wow fadeInRight animated" data-wow-offset="20" data-wow-duration="1.75s" style="visibility: visible; -webkit-animation: fadeInRight 1.75s;">
                <div class="small-text-medium uppercase colored-text">
                    销售渠道
                </div>
                <h2 class="text-left dark-text">互联网时代的<strong>零售行业</strong></h2>
                <div class="colored-line-left">
                </div>
                <p class="text-left">
                    如果你是一个商家，您该如何选择适合您生意的互联网销售模式？
                </p>

                <!-- FEATUR ACCORDION WITH ICON -->
                <div class="panel-group" id="accordion">

                    <!-- SINGLE ACORDIION -->
                    <div class="panel panel-default">

                        <!-- ACORDIION HEADING / TITLE -->
                        <div class="panel-heading" id="headingOne">
                            <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            <span class="icon-container color-bg"><span class="icon-map-alt white-text"></span></span><span class="title-text">零售</span>
            </a>
            </h4>
                        </div>

                        <!-- ACORDIION DESCRIPTION / TEXT -->
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                ... ...
                            </div>
                        </div>
                    </div>

                    <!-- SINGLE ACORDIION -->
                    <div class="panel panel-default">

                        <!-- ACORDIION HEADING / TITLE -->
                        <div class="panel-heading" id="headingTwo">
                            <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span class="icon-container color-bg"><span class="icon-compass-alt white-text"></span></span><span class="title-text">批售</span>
            </a>
            </h4>
                        </div>

                        <!-- ACORDIION DESCRIPTION / TEXT -->
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                ... ...
                            </div>
                        </div>
                    </div>

                    <!-- SINGLE ACORDIION -->
                    <div class="panel panel-default">

                        <!-- ACORDIION HEADING / TITLE -->
                        <div class="panel-heading" id="headingThree">
                            <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <span class="icon-container color-bg"><span class="icon-lightbulb-alt white-text"></span></span><span class="title-text">分销</span>
            </a>
            </h4>
                        </div>

                        <!-- ACORDIION DESCRIPTION / TEXT -->
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                ... ...
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- =========================
     SECTION: SOME STATS   
    ============================== -->
<section class="stats" id="section4" data-stellar-background-ratio="0.5" style="background-position: 50% 753px;">
    <div class="overlay-layer-2">
        <div class="container">
            <div class="row no-gutters">

                <!-- SINGLE COLUMN WITH ICON -->
                <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">
                    <div class="icon-container">
                        <span class="colored-text icon-basic-elaboration-calendar-check"></span>
                    </div>
                    <h4 class="white-text">2000+</h4>
                    <p class="uppercase transparent-text small-text">
                        电商ERP厂商
                    </p>
                </div>

                <!-- SINGLE COLUMN WITH ICON -->
                <div class="col-md-4 col-sm-4 col-xs-4 single-stats border-left-colored border-right-colored wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">
                    <div class="icon-container">
                        <span class="colored-text icon-basic-message-multiple"></span>
                    </div>
                    <h4 class="white-text">1000+</h4>
                    <p class="uppercase transparent-text small-text">
                        日均单量
                    </p>
                </div>

                <!-- SINGLE COLUMN WITH ICON -->
                <div class="col-md-4 col-sm-4 col-xs-4 single-stats wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">
                    <div class="icon-container">
                        <span class="colored-text icon-ecommerce-graph-increase"></span>
                    </div>
                    <h4 class="white-text">500%</h4>
                    <p class="uppercase transparent-text small-text">
                        促销单量
                    </p>
                </div>
            </div>

            <!-- CALL TO ACTION -->
            <div class="stats-footer">
                <div class="long-transparent-line">
                </div>
                <p class="white-text">
                    We are ready to help you - <a href="#section11" class="strong inpage-scroll">Get Started Now »</a>
                </p>
            </div>

        </div>
    </div>
</section>

<!-- =========================
     SECTION: BENEFITS   
    ============================== -->
<section class="unique-features white-bg" id="section5">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <div class="small-text-medium uppercase colored-text">
                供应链管理
            </div>
            <h2 class="dark-text"><strong>如何选择</strong> </h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                管理系统能帮您做到什么，如何选择适合您的管理系统？
            </div>
        </div>

        <!-- FIRST ROW OF FEATURES -->
        <div class="row">
            <div class="col-md-4 wow fadeInRight" data-wow-duration="1.75s" data-wow-offset="20" style="visibility: hidden; -webkit-animation: none 1.75s;">

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-laptop colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">信息传递</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            借助互联网完成信息的传递，信息传输的深度和广度决定了系统的价值覆盖
                        </p>
                    </div>
                </div>

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-map-alt colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">协同作业</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            业务功能如何协同更多的人高效完整的完成作业任务，并能驱动用户自我学习
                        </p>
                    </div>
                </div>

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-cloud-alt colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">管理价值</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            系统如何完成对生意本身的分析与评估，为管理提供决策依据
                        </p>
                    </div>
                </div>
            </div>

            <!-- IPAD IMAGE -->
            <div class="col-md-4">
                <div class="ipad-image wow bounceIn" data-wow-duration="1.75s" data-wow-offset="20" style="visibility: hidden; -webkit-animation: none 1.75s;">
                    <img src="images/ipad-air.png" alt="">
                </div>
            </div>

            <div class="col-md-4 wow fadeInLeft" data-wow-duration="1.75s" data-wow-offset="20" style="visibility: hidden; -webkit-animation: none 1.75s;">

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-gift-alt colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">任务驱动</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            通过任务告诉用户如何完成自身的工作，并且过程中的指令需要尽可能简单清晰
                        </p>
                    </div>
                </div>

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-star-alt colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">重复一致</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            提取出运营过程中的可重复执行的功能，并能通过任务统筹安排有序执行
                        </p>
                    </div>
                </div>

                <!-- SINGLE FEATURE -->
                <div class="feature">
                    <div class="icon-container">
                        <span class="icon-chat-alt colored-text"></span>
                    </div>
                    <div class="description text-left">
                        <h4 class="dark-text">边界清晰</h4>
                        <div class="grey-line-short pull-left">
                        </div>
                        <p class="text-left">
                            业务模块的边界清晰，能够清晰定义用户的职责范围，并能减少信息的重复维护
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- =========================
     SECTION: PRICING   
    ============================== -->
<section class="pricing grey-bg" id="section6">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <div class="small-text-medium uppercase colored-text">
                系统模式
            </div>
            <h2 class="dark-text">什么决定了<strong>系统的功能模式</strong>？</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                待售商品的品类数量会决定一个系统的功能模式
            </div>
        </div>

        <!-- PRICING TABLE -->
        <div class="row pricing-table">

            <!-- SINGLE PACKAGE -->
            <div class="col-md-4 wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title">
                        <h3 class="colored-text">高效版</h3>
                        <div class="colored-line">
                        </div>
                    </div>

                    <h2 class="price"><span class="superscript"></span>Free<span class="month small-text"></span></h2>

                    <ul class="package-list">
                        <li><span class="dark-text strong">50GB</span>File Storage</li>
                        <li><span class="dark-text strong">Secure</span>Online Transfer</li>
                        <li><span class="dark-text strong">5</span>User Access</li>
                        <li><span class="dark-text strong">30</span>Projects Per Month</li>
                        <li><span class="dark-text strong">24/7</span>Customer Service</li>
                    </ul>

                    <div class="button">
                        <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                    </div>

                    <div class="small-text uppercase">
                        30 Days free Trial
                    </div>

                </div>
            </div>

            <!-- SINGLE PACKAGE -->
            <div class="col-md-4 wow flipInY" data-wow-offset="10" data-wow-duration="1.5s" style="visibility: hidden; -webkit-animation: none 1.5s;">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title color-bg">
                        <h3 class="white-text">完整版</h3>
                    </div>

                    <h2 class="price"><span class="superscript">$</span>175<span class="month small-text">Per Month</span></h2>

                    <ul class="package-list">
                        <li><span class="colored-text strong">150GB</span>File Storage</li>
                        <li><span class="colored-text strong">Secure</span>Online Transfer</li>
                        <li><span class="colored-text strong">20</span>User Access</li>
                        <li><span class="colored-text strong">65</span>Projects Per Month</li>
                        <li><span class="colored-text strong">24/7</span>Customer Service</li>
                    </ul>

                    <div class="button">
                        <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                    </div>

                    <div class="small-text uppercase">
                        <span class="colored-text">40%</span> Discount on first year
                    </div>

                </div>
            </div>

            <!-- SINGLE PACKAGE -->
            <div class="col-md-4 wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">
                <div class="single-pricing border-bottom-hover">

                    <div class="package-title">
                        <h3 class="colored-text">增值版</h3>
                        <div class="colored-line">
                        </div>
                    </div>
                    <h2 class="price"><span class="superscript">$</span>199<span class="month small-text">Per Month</span></h2>

                    <ul class="package-list">
                        <li><span class="dark-text strong">80GB</span>File Storage</li>
                        <li><span class="dark-text strong">Secure</span>Online Transfer</li>
                        <li><span class="dark-text strong">10</span>User Access</li>
                        <li><span class="dark-text strong">45</span>Projects Per Month</li>
                        <li><span class="dark-text strong">24/7</span>Customer Service</li>
                    </ul>

                    <div class="button">
                        <a href="#section11" class="btn standard-button inpage-scroll">Get Started</a>
                    </div>

                    <div class="small-text uppercase">
                        30 Days free Trial
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- =========================
     SECTION: SCREENSHOTS
    ============================== -->
<section class="features" id="section7" data-stellar-background-ratio="0.5" style="background-position: 50% 1987.5px;">
    <div class="overlay-layer-2">
        <div class="container">

            <!-- SECTION HEADER -->
            <div class="section-header">
                <div class="small-text-medium uppercase colored-text">
                    仓储运营
                </div>
                <h2 class="white-text">供应链运营的<span class="strong white-text">交通枢纽</span></h2>
                <div class="colored-line">
                </div>
                <div class="sub-heading white-text">
                    仓储运营决定着供应链效率，如何降低时间成本、流通成本都可以在仓储运营过程中得到持续的改进
                </div>
            </div>

            <div class="row">

                <!-- LEFT SIDE ELEMENTS -->
                <div class="col-md-3 text-right left-side wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-right-colored">
                        <h4 class="colored-text">职能范围</h4>
                        <p class="transparent-text">
                            完成货物的存放及流通，是各种资源配合一致的舞台
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-right-colored">
                        <h4 class="colored-text">以点带面</h4>
                        <p class="transparent-text">
                            业务覆盖范围内，科学设定仓库位置，满足业务覆盖所需
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-right-colored">
                        <h4 class="colored-text">信息流通</h4>
                        <p class="transparent-text">
                            货物的流通以信息为驱动，仓储成为驱动供应链推进的信息源头
                        </p>
                    </div>

                </div>

                <!-- SCREENSHOTS -->
                <div class="col-md-6">
                    <div id="screenshots" class="owl-carousel owl-theme" style="opacity: 1; display: block;">

                        <!-- SINGLE SCREENSHOT -->
                        <div class="owl-wrapper-outer">
                            <div class="owl-wrapper" style="width: 3330px; left: 0px; display: block;">
                                <div class="owl-item" style="width: 555px;">
                                    <div class="screenshot">
                                        <a href="images/screenshots/1@2x.png" data-lightbox-gallery="gallery1">
                                            <img src="images/screenshots/1.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 555px;">
                                    <div class="screenshot">
                                        <a href="images/screenshots/1@2x.png" data-lightbox-gallery="gallery1">
                                            <img src="images/screenshots/1.png" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 555px;">
                                    <div class="screenshot">
                                        <a href="images/screenshots/1@2x.png" data-lightbox-gallery="gallery1">
                                            <img src="images/screenshots/1.png" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- SINGLE SCREENSHOT -->


                        <!-- SINGLE SCREENSHOT -->

                        <div class="owl-controls clickable">
                            <div class="owl-pagination">
                                <div class="owl-page active"><span class=""></span>
                                </div>
                                <div class="owl-page"><span class=""></span>
                                </div>
                                <div class="owl-page"><span class=""></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- RIGHT SIDE FEATURES -->
                <div class="col-md-3 text-left right-side wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-left-colored">
                        <h4 class="colored-text">波次驱动</h4>
                        <p class="transparent-text">
                            以业务波次为驱动，以任务分解波次，完成业务运营
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-left-colored">
                        <h4 class="colored-text">资源调度</h4>
                        <p class="transparent-text">
                            科学设定仓库的业务容量，并完成执行过程中内外部的资源协调
                        </p>
                    </div>

                    <!-- SINGLE ELEMENT -->
                    <div class="single-feature border-left-colored">
                        <h4 class="colored-text">安全质量</h4>
                        <p class="transparent-text">
                            运营可回溯，货品可溯源，设定质量标准，可视化管理
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- =========================
     SECTION: TIMELINE   
    ============================== -->
<section class="brief timeline white-bg" id="section8">
    <div class="container">

        <div class="row">

            <!-- TIMELINE HEADING / TEXT  -->
            <div class="col-md-6 timeline-text text-left wow fadeInLeft" data-wow-offset="20" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">
                <div class="small-text-medium uppercase colored-text text-left">
                    运输管理
                </div>
                <h2 class="text-left dark-text">商品的<strong>旅程</strong></h2>
                <div class="colored-line-left">
                </div>
                <p>
                    仓储是供应链的心脏，运输则是供应链的血管，负责将货物运送到需要它的地方，同样的，效率、安全、可视化成为运输管理必不可少的关注点
                    <br>
                    <br>平台可以完成运输过程中资源的调配，借助电子设备完成货物安全的管控，以及过程的跟踪和预警
                </p>
            </div>

            <!-- TIMLEINE SCROLLER -->
            <div class="col-md-6 timeline-section wow fadeInRight" data-wow-offset="20" data-wow-duration="1.75s" style="height: 432px; overflow: hidden; visibility: hidden; -webkit-animation: none 1.75s;">
                <ul class="vertical-timeline" id="timeline-scroll">

                    <!-- SINGLE TIMELINE -->


                    <!-- SINGLE TIMELINE -->


                    <!-- SINGLE TIMELINE -->


                    <!-- SINGLE TIMELINE -->


                    <!-- SINGLE TIMELINE -->


                    <!-- SINGLE TIMELINE -->

                </ul>
                <li class="first" style="opacity: 0.0150639923576266; margin-top: -103.418280802449px;">
                    <div class="date small-text colored-text strong">
                        Jan, 12
                    </div>
                    <div class="icon-container color-bg white-text">
                        <span class="icon-ribbon-alt"></span>
                    </div>
                    <div class="info">
                        ... ...
                    </div>
                </li>
                <li>
                    <div class="date small-text dark-text strong">
                        Apr, 14
                    </div>
                    <div class="icon-container color-bg white-text">
                        <span class="icon-piechart"></span>
                    </div>
                    <div class="info">
                        ... ...
                    </div>
                </li>
                <li>
                    <div class="date small-text dark-text strong">
                        Feb, 13
                    </div>
                    <div class="icon-container color-bg white-text">
                        <span class="icon-cart-alt"></span>
                    </div>
                    <div class="info">
                        ... ...
                    </div>
                </li>
                <li>
                    <div class="date small-text dark-text strong">
                        Dec, 13
                    </div>
                    <div class="icon-container color-bg white-text">
                        <span class="icon-paperclip"></span>
                    </div>
                    <div class="info">
                        ... ...
                    </div>
                </li>
                <li>
                    <div class="date small-text dark-text strong">
                        May, 14
                    </div>
                    <div class="icon-container color-bg white-text">
                        <span class="icon-check"></span>
                    </div>
                    <div class="info">
                        ... ...
                    </div>
                </li>
                <li>
                    <div class="date small-text dark-text strong">
                        Oct, 14
                    </div>
                    <div class="icon-container color-bg white-text">
                        <span class="icon-lightbulb-alt"></span>
                    </div>
                    <div class="info">
                        ... ...
                    </div>
                </li>
                <li>
                    <div class="date small-text colored-text strong">
                        Jan, 12
                    </div>
                    <div class="icon-container color-bg white-text">
                        <span class="icon-ribbon-alt"></span>
                    </div>
                    <div class="info">
                        ... ...
                    </div>
                </li>
            </div>

        </div>
    </div>
</section>

<!-- =========================
     SECTION: TEAM   
    ============================== -->
<section class="team grey-bg" id="section9">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <div class="small-text-medium uppercase colored-text">
                团队
            </div>
            <h2 class="dark-text"><strong>管理</strong>团队</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                拥有清晰的管理团队，战略资源与执行资源的完美搭配
            </div>
        </div>

        <!-- MEMBERS -->
        <div class="row wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">
                    <div class="member-pic">
                        <img src="" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text"> </h5>
                        <div class="small-text">
                            董事长 | CEO
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="">
                                <span class="icon-social-facebook dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-social-twitter dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-social-pinterest dark-text"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">
                    <div class="member-pic">
                        <img src="" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text"> </h5>
                        <div class="small-text">
                            营销总监 | CMO
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="">
                                <span class="icon-social-facebook dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-social-twitter dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-social-pinterest dark-text"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6">
                <div class="team-member wow flipInY" data-wow-offset="10" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">
                    <div class="member-pic">
                        <img src="" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text"> </h5>
                        <div class="small-text">
                            财务总监 | CFO
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="">
                                <span class="icon-social-facebook dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-social-twitter dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-social-pinterest dark-text"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- MEMBER -->
            <div class="col-md-3 col-sm-6 team-member">
                <div class="wow flipInY" data-wow-offset="10" data-wow-duration="1s" style="visibility: hidden; -webkit-animation: none 1s;">
                    <div class="member-pic">
                        <img src="" alt="">
                    </div>
                    <div class="member-details">
                        <h5 class="colored-text"> </h5>
                        <div class="small-text">
                            技术总监 | CTO
                        </div>
                    </div>
                    <ul class="social-icons">
                        <li>
                            <a href="">
                                <span class="icon-social-facebook dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-social-twitter dark-text"></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="icon-social-pinterest dark-text"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- =========================
     SECTION: TESTIMONIALS   
    ============================== -->
<section class="testimonials white-bg" id="section10">
    <div class="container">

        <!-- SECTION HEADER -->
        <div class="section-header">
            <div class="small-text-medium uppercase colored-text">
                合作感言
            </div>
            <h2 class="dark-text"><strong>Happy</strong> Customers</h2>
            <div class="colored-line">
            </div>
            <div class="sub-heading">
                Cloud computing subscription model out of the box proactive solution.
            </div>
        </div>

        <div class="row no-gutters">

            <!-- SINGLE FEEDBACK -->
            <div class="col-md-4 wow fadeInLeft" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">
                <div class="feedback">
                    <div class="pic-container">
                        <img src="images/clients/1.jpg" alt="">
                    </div>
                    <p>
                        “Tablet publishing HTML5 mobile first really simple syndication meetups white board walls. User experience iterate algorithm gamification semantic web value add market research stealth.”
                    </p>
                    <h5 class="colored-text">-Eusebia Bărlâdeanu</h5>
                    <div class="small-text">
                        XYZ Interactive
                    </div>
                </div>
            </div>

            <!-- SINGLE FEEDBACK -->
            <div class="col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">
                <div class="feedback border-left border-right">
                    <div class="pic-container">
                        <img src="images/clients/2.jpg" alt="">
                    </div>
                    <p>
                        “Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.”
                    </p>
                    <h5 class="colored-text">- Eusebia Bărlâdeanu</h5>
                    <div class="small-text">
                        AbZ Network
                    </div>
                </div>
            </div>

            <!-- SINGLE FEEDBACK -->
            <div class="col-md-4 wow fadeInRight" data-wow-offset="10" data-wow-duration="1.75s" style="visibility: hidden; -webkit-animation: none 1.75s;">
                <div id="feedback">
                    <div class="feedback">
                        <div class="pic-container">
                            <img src="images/clients/3.jpg" alt="">
                        </div>
                        <p>
                            “Rockstar developer internet of things bleeding edge browser extension social capital. Sandboxing UDID content manag system ruby on rails continuous deployment big data infographic.”
                        </p>
                        <h5 class="colored-text">- Georgian Hrușcă</h5>
                        <div class="small-text">
                            ZyX LLC
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- =========================
     SECTION: CALL TO ACTION   
    ============================== -->
<section class="call-to-action" id="section11" data-stellar-background-ratio="0.1" style="background-position: 50% 717.9px;">
    <div class="overlay-layer-2">
        <div class="container">
            <div class="row">

                <div class="col-md-8 col-md-offset-2">

                    <div class="uppercase colored-text strong">

                    </div>

                    <h2 class="white-text strong wow fadeInLeft" data-wow-duration="2s" data-wow-offset="40" style="visibility: hidden; -webkit-animation: none 2s;"></h2>

                    <button class="btn btn-primary standard-button wow fadeInRight" data-wow-duration="2s" data-wow-offset="40" type="button" data-toggle="modal" data-target="#stamp-modal" style="visibility: hidden; -webkit-animation: none 2s;">加入我们</button>

                </div>

            </div>
        </div>
    </div>
</section>


<!-- REGISTRATION FORM FOR POPUP BOX -->
<div class="modal fade bs-example-modal-sm" id="stamp-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="vertical-registration-form">
                <h4 class="dark-text form-heading">Get 1 Month FREE Trial Now</h4>
                <form class="registration-form" id="contact-form">
                    <input type="text" id="cf-name" name="name" class="form-control input-box placeholder" placeholder="Name">
                    <input type="email" id="cf-email" name="email" class="form-control input-box placeholder" placeholder="Email">
                    <input type="text" id="cf-subject" name="subject" class="form-control input-box placeholder" placeholder="Subject">
                    <textarea name="message" id="cf-message" class="form-control textarea-box placeholder" rows="4" placeholder="Message"></textarea>
                    <button class="btn btn-primary standard-button">Get Started</button>
                </form>
                <p class="email-success dark-text">
                    <span class="icon-check-alt2 colored-text"></span>Email sent seuccessfully
                </p>
                <p class="email-error dark-text">
                    <span class="icon-close-alt2"></span>Error! Please check all fields filled correctly
                </p>
                <!-- MAILCHIMP ALERTS 
              <p class="mailchimp-success dark-text"><span class="icon-check-alt2 colored-text"></span>We sent the confirmation to your email</p>
              <p class="mailchimp-error dark-text"><span class="icon-close-alt2"></span>Error! Please check all fields filled correctly</p>
              -->
            </div>
        </div>
    </div>
</div>

<!-- =========================
     SECTION: CONTACT INFO  
    ============================== -->
<div class="contact-info white-bg">
    <div class="container">

        <!-- CONTACT INFO -->
        <div class="row contact-links">

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-mail colored-text"></span>
                </div>
                <a href="mailto:hey@designlab.co" class="strong">xxx@xxx.com</a>
            </div>

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-geolocalize-01 colored-text"></span>
                </div>
                <a href="" class="strong">Glen Road, E13 8 London, UK</a>
            </div>

            <div class="col-sm-4">
                <div class="icon-container">
                    <span class="icon-basic-tablet colored-text"></span>
                </div>
                <a href="tel:44-12-3456-7890" class="strong">+44-12-3456-7890</a>
            </div>
        </div>

    </div>
</div>
<!-- =========================
     GOOGEL MAP 
    ============================== -->
<div id="container-fluid">
    <div id="cd-google-map">

    </div>
</div>

<script>
</script>
