<div class="row white-bg" id="stickUpBar" style="width:100%;z-index:1000;padding:0px;margin:0px;">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="container">
            <div class="clients">
                <ul class="client-logos">
                    <li>
                        <a href="javascript:$('html, body').animate({ scrollTop: 0 }, 'fast');"><i class="fa fa-angle-double-up fa-2x"></i></a>
                    </li>
                    <li class="menuItem">
                        <a href="#section1">服务介绍</a>
                    </li>
                    <li class="menuItem">
                        <a href="#section2">关于我们</a>
                    </li>
                    <li class="menuItem">
                        <a href="#section3">销售渠道</a>
                    </li>
                    <li class="menuItem">
                        <a href="#section4">供应链管理
                            </a>
                    </li>
                    <li class="menuItem">
                        <a href="#section7">仓储运营
                            </a>
                    </li>
                    <li class="menuItem">
                        <a href="#section8">运输管理
                            </a>
                    </li>
                    <li class="menuItem">
                        <a href="#section9">团队介绍
                            </a>
                    </li>
                    <li class="menuItem">
                        <a href="#section10">合作感言
                            </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>