<div class="container" ng-controller="LoginCtrl">
    <div class="row" style="padding: 10px 0px 0px 0px">
        <div class="login-container animated fadeInDown">
            <div class="loginbox bg-white">
                <div class="loginbox-title"> <i class="fa fa-user fa-3x"></i></div><br/>
                <hr class="wide">
                <div class="loginbox-textbox">
                    <input type="text" class="form-control" placeholder="邮箱/手机号">
                </div>
                <div class="loginbox-textbox">
                    <input type="text" class="form-control" placeholder="密码">
                </div>

                <div class="loginbox-submit">
                    <input type="button" class="btn btn-blue btn-block" value="登 录" ng-click="login()">
                </div>
                <div class="loginbox-forgot">
                    <a href="">忘记密码?</a>
                </div>
            </div>
            <div class="logobox">
            </div>
        </div>


    </div>
</div>
