<div class="container">
    <div class="row" style="padding: 10px 0px 0px 0px">
        


<div id="login-wraper">
            <form class="form login-form">
                <legend>Sign in to <span class="blue">MyApp</span></legend>
            
                <div class="body">
                    <label>Username</label>
                    <input type="text">
                    
                    <label>Password</label>
                    <input type="password">
                </div>
            
                <div class="footer">
                    <label class="checkbox inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1"> Remember me
                    </label>
                                
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            
            </form>
        </div>

        
    </div>
</div>
