<div class="container">
    <div class="row" style="padding: 10px 0px 0px 0px">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="widget flat radius-bordered animated fadeInDown">
                <div class="widget-header bg-blue">
                    <span class="widget-caption">加入我们</span>
                </div>
                <div class="widget-body">
                    <div id="registration-form">
                        <form role="form">
                            <div class="form-title">
                                账号信息
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <span class="input-icon icon-right">
                                                                            <input type="text" class="form-control" placeholder="公司名称">
                                                                            <i class="fa fa-user"></i>
                                                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="input-icon icon-right">
                                                                            <input type="text" class="form-control" placeholder="手机号码">
                                                                            <i class="glyphicon glyphicon-phone"></i>
                                                                        </span>
                                    </div>

                                </div>


                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <div class="form-group">
                                            <span class="input-icon icon-right">
                                                                    <input type="text" class="form-control" id="passwordInput" placeholder="登陆密码">
                                                                    <i class="fa fa-lock circular"></i>
                                                                </span>
                                        </div>
                                    </div>
                                </div>



                            </div>
                            <div class="row">
                                <div class="col-sm-6">

                                    <div class="form-group">
                                        <span class="input-icon icon-right">
                                                                    <input type="text" class="form-control" id="emailInput" placeholder="邮箱">
                                                                    <i class="fa fa-envelope-o circular"></i>
                                                                </span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="input-icon icon-right">
                                                                    <input type="text" class="form-control" id="confirmPasswordInput" placeholder="确认密码">
                                                                    <i class="fa fa-lock circular"></i>
                                                                </span>
                                    </div>
                                </div>



                            </div>





                            <div class="form-title">
                                账号类型
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="radio">
                                        <label>
                                            <input name="form-field-radio" type="radio" class="colored-blue">
                                            <span class="text"> 商家</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="radio">
                                        <label>
                                            <input name="form-field-radio" type="radio" class="colored-danger">
                                            <span class="text"> 仓储运营</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">

                                    <div class="radio">
                                        <label>
                                            <input name="form-field-radio" type="radio" class="colored-success">
                                            <span class="text"> 快递运营</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">

                                    <div class="radio">
                                        <label>
                                            <input name="form-field-radio" type="radio" class="colored-blueberry">
                                            <span class="text"> 干线运输</span>
                                        </label>
                                    </div>
                                </div>

                            </div>
                    </div>
                    <hr class="wide">

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="colored-blue">
                                <span class="text">注册后自动登陆</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-blue">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
